.newsItem {
  max-height: 290px;
  height: 290px;
  max-width: 300px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: #333d51;
  &:hover {
    background-color: #f6f7f7;
    .title {
      background-color: #004fec;
      color: #ffffff;
    }
  }
  .title {
    font-size: 25px;
    font-weight: 400;
    position: relative;
    transition: all 0.2s ease-in-out;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -24px;
      height: 100%;
      width: 2px;
      background-color: #004fec;
    }
  }
  .bottomWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
