.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  margin-top: 50px;
  padding: 45px 0;

  &__big {
    font-size: 25px;
    font-weight: 500;

    color: var(--main-color);
  }

  &__small {
    font-size: 15px;
    font-weight: 400;

    &:last-of-type {
      text-align: right;
    }
  }
}
