.newsDetailPage {
  .newsDetailWrapper {
    display: flex;
    .leftPart {
      width: 30%;
    }
    .rightPart {
      width: 70%;
      padding-left: 30px;
    }
    .title {
      font-size: 60px;
      margin: 0 0 30px;
      font-weight: 400;
    }
    .source {
      font-size: 25px;
      margin-bottom: 30px;
    }

    img {
      max-width: 730px;
      max-height: 380px;
      margin-bottom: 60px;
      width: 100%;
      object-fit: cover;
    }
    .summary {
      font-size: 25px;
      margin: 0;
    }
  }
}
